In [52]:
l=[1,2,3,4,5]
m=[]
for i in range(len(1)) :
m.append(l[i])

IndentationError: expected an indented block (<ipython-input-52-ee749240f999>, line 4)

['ankit', 'kumar']

In [83]:
l=[2,5,30,30]
m=[]
for i  in l 
    if i>=10:
        m.append(i+2)

SyntaxError: invalid syntax (<ipython-input-83-ccf2aa09c6b0>, line 3)

In [60]:
m

['ankit', 'kumar']

In [61]:
m

['ankit', 'kumar']

In [62]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
l=[1,4,5,6,7,78,9,'rahul']
m=[]
for i in l:
    if type(i)==str:
        print(i)

rahul

In [80]:
m

['rahul']

In [75]:
c=10

In [76]:
type(c)

int

In [86]:
a=input('ewnter a name')

'my name is {}'.format(a)

ewnter a nameankit

'my name is ankit'

In [107]:
s='Ankit'

In [108]:
s.isupper()

False

In [109]:
s.istitle()

True

In [122]:
a=[1,3,4,2,'hello','ank',7,65,[2,3,4]]
b=[4,5,6,7,'my','name']

In [123]:
m=[]
for i in a:
    m.append(i)
m

[1, 3, 4, 2, 'hello', 'ank', 7, 65, [2, 3, 4]]

In [124]:
a+b

[1, 3, 4, 2, 'hello', 'ank', 7, 65, [2, 3, 4], 4, 5, 6, 7, 'my', 'name']

In [130]:
b.insert(-1,'golu')

[4, 5, 6, 7, 'ankit', 'ankit', 'my', 'ankit', 'golu', 'name']

In [191]:
z=['ankkit','kumar']

In [192]:
z.sort()
z

['ankkit', 'kumar']

In [151]:
a

['kumar', 'sudhanshu']

In [156]:
m=[[2,3,4,5,6,7,8,9,0],[56,6,7,89,8],[3,4,5,6,7]]

In [159]:
[i[2]*2 for i in m]

[8, 14, 10]

In [169]:
a=[2,3,4,5,6,7,8,9,0]

In [171]:
a.index(5)

3

In [178]:
a='2,,3,,' how to revome
b=a.split(',')
b
for i  in a:
    if ,==,
    print(a)

SyntaxError: invalid syntax (<ipython-input-178-d4b001eedc1a>, line 3)

In [193]:
print('welcome to python programing ')

welcome to python programing